{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Home {% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3">

                <h2>Manage <b>Students </b>  <button type="button"  class="btn btn-success float-right"
                  
                data-toggle="modal" data-target="#mymodal">Add New Students</button> </h2>
                <label for="classrooms">Choose a classroom:</label>
                <form action="." method="post">
                  <select name="chosenclass" id="chosenclass">
                     <option value="107i am">107i am</option>
                     <option value="305e am">305e am</option>
                     <option value="107i pm">107i pm</option>
                     <option value="201i am">201i am</option>
                   </select><br><br>
                  <input type="submit" value="Submit">
                </form>
               

                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">x</span>
                    </button>
                {{message}}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}

                <table class="table table-hover table-dark">
                    <tr>
                        <!-- <th>ID</th> -->
                        <th>Student ID</th>
                        <th>Name</th>
                        <th>Classroom</th>
                        <th>PA Comment</th>
                        <th>PB Comment</th>
                        <th>PC Comment</th>
                        <th>Action</th>
                    </tr>

                   {% for row in students %}
                    <tr>
                        <!-- <td>{{row.id}}</td> -->
                        <td>{{row.studentid}}</td>
                        <td>{{row.name}}</td>
                        <td>{{row.classroom}} {{row.classtime}}</td>
                        <td>{{row.name}}{{row.pacomment}}</td>                       
                        <td>{{row.name}}{{row.pbcomment}}</td>
                        <td>{{row.name}}{{row.pccomment}}</td>

                        <td>
                            <a href="/update/{{row.id}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.id}}">Assess</a>
                            <!-- <a href="/delete/{{row.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')">Delete</a> -->
                        </td>
                    </tr>

                  <!-- Modal Edit Student-->
<div id="modaledit{{row.id}}" class="modal fade" role="dialog">
   <div class="modal-dialog">

      <div class="modal-content">

         <div class="modal-header">
            <h4 class="modal-title">Update Information</h4>
         </div>

         <div class="modal-body">
            <form action="{{url_for('update')}}" method="POST">
               <div class="form-group">
                  <label>Name:</label>
                   <input type="hidden"  name="id" value="{{row.id}}">
                  <input type="text" class="form-control" name="name" value="{{row.name}}">
               </div>

               <div class="form-group">
                  <label>StudentID:</label>
                  <input type="text" class="form-control" name="studentid" value="{{row.studentid}}">
               </div>

               <div class="form-group">
                  <label>Classroom:</label>
                  <input type="text" class="form-control" name="classroom" value="{{row.classroom}}">
               </div>

               <div class="form-group">
                <label>Classtime:</label>
                <input type="text" class="form-control" name="classtime" value="{{row.classtime}}">
               </div>

                <div class="form-group">
                <label>PA Comment:</label>
                <input type="text" class="form-control" name="pacomment" value="{{row.pacomment}}">
                </div>

                <div class="form-group">
                <label>PB Comment:</label>
                <input type="text" class="form-control" name="pbcomment" value="{{row.pbcomment}}">
                </div>

                <div class="form-group">
                <label>PC Comment:</label>
                <input type="text" class="form-control" name="pccomment" value="{{row.pccomment}}">
                </div>

               <div class="form-group">
                  <button class="btn btn-primary" type="submit">Update</button>
               </div>

            </form>
         </div>

         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>

      </div>
   </div>
</div>
                    {% endfor %}
                </table>
            </div>

                  <!-- Modal Add Student-->
<div id="mymodal" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">

            <h4 class="modal-title">Add Student</h4>
         </div>
         <div class="modal-body">

            <form action="{{url_for('insert')}}" method="POST">

                <div class="form-group">
                    <label>Student ID:</label>
                    <input type="text" class="form-control" name="studentid" required="1">
                 </div>

               <div class="form-group">
                  <label>Name:</label>
                  <input type="text" class="form-control" name="name" required="1">
               </div>

                <div class="form-group">
                  <label>Classroom:</label>
                  <input type="classroom" class="form-control" name="classroom" required="1">
               </div>

               <div class="form-group">
                <label>Classtime:</label>
                <input type="text" class="form-control" name="classtime" required="1">
             </div>

                <!-- <div class="form-group">
                  <label>PA Comment:</label>
                  <input type="text" class="form-control" name="pacomment" required="0">
               </div> -->

               <div class="form-group">
                  <button class="btn btn-primary" type="submit">Add Student</button>
               </div>

            </form>

         </div>


         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>

      </div>

   </div>

</div>

        </div>
    </div>
</div>

{% endblock %}